<!DOCTYPE html>
<html>
<head>
  <title>FakeVenue</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "nav"> Fraser's, Getting David Goodman a job since 2014 <a id="home" href="/">Home</a></div>
<%= yield %>

</body>
</html>
