<h1>Editing event</h1>
<% puts @erros %>
<% if @event.errors %>
	<% @event.errors.each do |error| %>
		The <%= error %> is not valid
	<% end %>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
