.nav {
	background-color: gray;
	display: inline-block;
	color: white;
	top: 0em;
	height: 3em;
	width: 100%;
	position: fixed;
	left: 0;
}

.nav p {
	margin-left: 1em;
}

.nav #home {
	margin-left: 60em;
	color: white;
	display: inline-block;
	position: relative top 5em;
}

.nav  hover {
	color: blue;
}

#home	{
	text-align: right;
	z-index: 100;
	right: 0;
	color: orange;
}

h1 {
	margin-top: 1em;
	text-align: center;
	font-size: 6em;
	color: orange;
}

#random_band {
	color: blue;
	text-align: right;
	margin-right: 2em;
	float: right
}

#random_band button {
	margin-right: 15em;
}

#random_band h3 {
	margin-right: 15em;
	color: gray;
}
#venue_image {
	margin-top: 6em;
	text-align: center;
}

.event {
	padding-bottom: 1em;
	padding-top: 1em;
	border: black thin solid;
	text-align: center;
}

.event .title {
	font-size: 1.5em;
	color: purple ;
}

.event .main_act {
	font-size: 1em;
	color: green;
}

.event .options a {
	margin-right: 2em;
}

.errors {
	color: red;
	font-size: 2em;
}

.event_image{
	display: inline-block;
	height: 10em;
	width: 10em;
	right: 0;
}

#supporting {
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  font-family: sans-serif;
  width: 8%;
  display: inline-block;
}

#supporting hover {
  border-color: blue;
  color: blue;
}

#supporting active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}