.nav {
	background-color: gray;
	color: white;
	top: 0em;
	height: 3em;
	width: 100%;
	position: fixed;
	z-index: 0;
}

#home	{
	text-align: right;
	z-index: 100;
	right: 0;
	color: orange;
}

h1 {
	text-align: center;
	font-size: 6em;
	color: orange;
}

#random_band {
	color: blue;
	text-align: right;
	margin-right: 2em;
	float: right
}

#random_band button {
	margin-right: 15em;
}

#random_band h3 {
	margin-right: 15em;
	color: gray;
}
#venue_image {
	margin-top: 6em;
	text-align: center;
}

.event {
	padding-bottom: 1em;
	padding-top: 1em;
	border: black thin solid;
	text-align: center;
}

.event .title {
	font-size: 1.5em;
	color: yellow ;
}

.event .main_act {
	font-size: 1em;
	color: green;
}

.event .options a {
	margin-right: 2em;
}

.errors {
	color: red;
	font-size: 2em;
}