<h1>Welcome To Fraser's</h1>
	<div id= "random_band">
		<h2>Click here for a band you should be listening to</h2>
		<button>Sweet Tunes</button>
		<h3 id="band">      </h3>
	</div>
	<div>
	<h2>Click here for upcoming events</h2>
	<a href="/events">Event List</a>
</div>
<div id = "venue_image">
	<%= image_tag "venue.jpg" %>
</div>
